{
    "bootstrap": true,
    "server": true,
    "datacenter": "ams2",
    "data_dir": "/var/consul",
    "node_name": "{{ ansible_eth1.ipv4.address }}",
    "bind_addr": "{{ ansible_eth1.ipv4.address }}",
    "advertise_addr": "{{ ansible_eth1.ipv4.address }}",
    "log_level": "INFO",
    "encrypt": "{{ consul_encrypt }}",
    "client_addr": "0.0.0.0",
    "ui": true,
    "rejoin_after_leave": true,
    "retry_join": ["{{ consul_server_nodes | join(", ") }}"],
    "leave_on_terminate": true
}