{
  "id": "{{ app.name }}",
  "cpus": 0.25,
  "mem": 256.0,
  "instances": 3,
  "uris": ["file:///etc/docker.tar.gz"],
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{ app.image_name }}:{{ version }}",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": {{ app.exposed_port }},
          "hostPort": 0,
          "protocol": "tcp"
        }
      ]
    }
  },
  "healthChecks": [
    {
      "path": "/",
      "portIndex": 0,
      "protocol": "HTTP",
      "gracePeriodSeconds": 300,
      "intervalSeconds": 60,
      "timeoutSeconds": 20
    }
  ],
  "env": {
    "CONSUL_MASTER": "{{ mesos_master_nodes[0] }}"
  }
}